body, html {
    min-height: 100%;
    min-width: 100%;
    
    font-size:18px;

    height: 100%;
    width: 100%;
	
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body { 
    color: #555555;
    background-color: rgba(255,255,255, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
	
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    display: flex;
    flex-direction: column;
}

a { text-decoration: none; }

p  { padding: 4px; margin: 0px; }
li { padding: 4px; margin: 0px; }
h1 { padding: 6px; margin: 0px; }
h2 { padding: 6px; margin: 0px; }
h3 { padding: 6px; margin: 0px; }
h4 { padding: 6px; margin: 0px; }

small  { padding: 0px; margin: 0px; }
div  { padding: 0px; margin: 0px; }

header { padding: 40px; background-color: #313033; color:whitesmoke;}
footer { height: 80px; }
main { flex: 1; }

main.elementary-container {
    background-color: whitesmoke;
    font-size: 0.85rem;
}

main article div.canvas-container {
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;

    cursor: crosshair;
    position: absolute;
    color: #f6f6f6;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#game-view {
    position:relative;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.game-display {
    text-align: center;
    padding: 20px;
    
    font-size: 1.0rem;
    font-weight: normal;
}

.bg-dark:hover { background-color: #ff2222; }

.w-100 { width: 100%; }
.h-100 { height: 100%; }

.text-center { text-align: center; }
.display-none, small.display-none { display: none; }

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }
.flex-justify-start { justify-content: start; }
.flex-justify-end { justify-content: end; }

.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }

.flex-container { 
    display: flex;
    flex: 1;
}

.flex-item {
    width: 48px;
    height: 48px;
    margin: 2px 2px 2px 2px;
}

.footer-info-content {
    background-color: #2d2c2a;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link-block span.padd-icon { padding: 0px 6px 0px 0px; }
.link-block:hover {  text-decoration: underline; }
.link-block:nth-child(even) { padding: 10px;}

.link-block { 
    color: #f2f2f2;
    padding: 5px;

    font-size: 0.95rem;
    text-decoration: none;
}

.d-none { display: none; }
.d-block { display: block; }
.p-relative { position: relative; }
.p-absolute { position: absolute; }

.pt-normal { padding-top: 20px; }